@keyframes slider-animation {
  from {
    transform: translateY(-1000px);
  }

  50% {
    transform: scale(1);
  }

  to {
    transform: translateY(0px);
  }
}

body {
  background-color: #849d8f;
  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 0;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  position: fixed;
    left: 0;
    top: 0;
  width: 100%;
  z-index: 1;
}

input::placeholder,
textarea::placeholder {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/*     IE,  Edge     */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

:focus {
  box-shadow: 0 0 0 2px #8fbdec;
  outline: none;
}

input:focus {
  border-radius: 3px;
}

.ice-cream-1 {
  background-color: #849d8f;
}

.ice-cream-2 {
  background-color: #8996a6;
}

.ice-cream-3 {
  background-color: #9d8b84;
}

.animation {
  animation-name: slider-animation;
  animation-duration: 0.5s;
}

/*      HEADER       */

.main-header {
  color: #323232;
  padding-top: 9px;
}

.main-header__wrapper {
  display: flex;
    align-items: center;
    justify-content: flex-start;
  margin: 0 auto;
  padding: 0 27px;
  width: 1146px;
}

.menu,
.submenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
    flex-wrap: wrap;
  font-weight: 700;
  line-height: 18px;
  width: 470px;
}

.menu a {
  display: block;
}

.menu__item--catalog {
  position: relative;
}

.menu__item--catalog::after {
  background-color: transparent;
  content: "";
  position: absolute;
    bottom: -3px;
  height: 5px;
  width: 90px;
}

.navigation__logo {
  height: 62px;
  margin-right: 9px;
  width: 154px;
}

.menu .active {
  background-color: #d07058;
  color: #ffffff;
  text-decoration: none;
}

.menu__link.active {
  font-weight: 700;
}

.menu__link {
  border-radius: 20px;
  color: #ffffff;
  padding: 8px 14px;
}

.menu__link[href]:hover,
.menu__link[href]:focus {
  background-color: #f7f6f3;
  color: #323232;
  font-weight: bold;
  text-decoration: none;
}

.menu__link[href]:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.submenu {
  background-color: #f8f7f4;
  border-radius: 5px;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
    left: -5px;
    top: 36px;
  width: 142px;
}

.submenu,
.tooltip {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}


.submenu__item a {
  display: block;
  padding: 6px 15px 10px 19px;
}

.submenu__item--header a {
  border-bottom: 1px solid #d1d0ce;
  font-weight: 700;
  margin: 0 5px 3px;
  padding: 13px 15px 10px;
}

.submenu__link {
  color: #323232;
  text-decoration: none;
}

.submenu__link[href]:hover,
.submenu__link[href]:focus {
  background-color: #fbded7;
}

.submenu__link[href]:active {
  background-color: #f6b5a5;
}

.menu__item--catalog:hover .submenu,
.menu__link--catalog:hover + .submenu,
.menu__link--catalog:focus + .submenu {
  opacity: 1;
  pointer-events: auto;
}

.menu__item--catalog:focus-within .submenu {
  opacity: 1;
  pointer-events: auto;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  margin-left: auto;
}

.user-navigation__item {
  margin-left: 8px;
  position: relative;
}

.user-navigation__item::after {
  background-color: transparent;
  content: "";
  position: absolute;
    bottom: -5px;
    height: 5px;
  width: 100px;
}

.user-navigation__search::after {
  width: 40px;
}

.user-navigation__list {
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-navigation__link {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  display: block;
  color: #ffffff;
  font-weight: 500;
  padding-bottom: 7px;
  padding-left: 45px;
  padding-right: 17px;
  padding-top: 7px;
  position: relative;
  text-decoration: none;
}

.tooltip {
  background-color: #f8f7f4;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
    right: 0;
    top: 34px;
  z-index: 1;
}

.tooltip input {
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  box-sizing: border-box;
  font: inherit;
  font-weight: 700;
  height: 43px;
}

.tooltip input:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 0 2px #d3d3d2;
}

.tooltip input:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 0 2px #8fbdec;
}

.search-form {
  padding: 20px 15px 21px;
  width: 313px;
}

.search-form input {
  padding: 0 12px;
  width: 100%;
}

.login-form {
  padding: 20px 18px 16px 18px;
  width: 241px;
}

.login-form__item {
  margin: 0;
  margin-bottom: 21px;
}

.login-form input {
  padding: 0 14px;
  width: 100%;
}

.login-form__controls {
  display: flex;
  align-items: flex-start;
}

.login-form__controls p {
  margin: 0;
}

.login-form__restore {
  color: #323232;
  /*display: block;*/
  font-size: 13px;
}

.login-form__btn {
  border-radius: 20px;
  margin-right: 20px;
  padding: 12px 25px 10px;
}

.user-navigation__search a {
  border-radius: 50%;
  padding: 8px;
  padding-bottom: 3px;
}

.user-navigation__item:hover .tooltip,
.user-navigation__link:hover + .tooltip,
.user-navigation__link:focus + .tooltip {
  opacity: 1;
  pointer-events: auto;
}

.user-navigation__item:focus-within .tooltip {
  opacity: 1;
  pointer-events: auto;
}

.user-navigation__login svg {
  height: 20px;
  position: absolute;
    left: 17px;
    top: 4px;
  width: 19px;
}

.user-navigation__link--basket svg {
  height: 20px;
  position: absolute;
    left: 16px;
    top: 4px;
  width: 21px;
}

.user-navigation__link:hover path,
.user-navigation__link--basket:hover circle,
.user-navigation__link--login:hover polygon,
.user-navigation__link:focus path,
.user-navigation__link--basket:focus circle,
.user-navigation__link--login:focus polygon{
  fill: #323232;
}

.user-navigation__link:hover,
.user-navigation__link:focus {
  background-color: #f8f7f4;
  color: #323232;
}

.user-navigation__link--full {
  background-color: #f7f6f3;
  color: #323232;
}

.user-navigation__link--full::before {
  background: url("../img/basket-full.svg");
  content: "";
  height: 20px;
  position: absolute;
    left: 18px;
    top: 5px;
  width: 21px;
}

.login-form__restore:hover,
.login-form__restore:focus,
.login-form__restore:active {
  color: #e84d37;
}

.basket-block {
  box-sizing: border-box;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  padding: 7px 15px 15px;
  text-align: right;
  width: 540px;
}

.basket-block__list {
  border-bottom: 1px solid #cacac7;
  display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  list-style-type: none;
  margin: 0 0 12px;
  padding: 0;
  text-align: left;
}

.basket-block__item {
  display: flex;
    align-items: baseline;
  margin-bottom: 4px;
}

.order__remove {
  border: 0;
  font-size: 0;
  padding: 0;
  padding-right: 27px;
  position: relative;
}

.order__remove::before {
  background-image: url("../img/button-remove.svg");
  content: "";
  height: 11px;
  position: absolute;
    left: 1px;
    top: -11px;
  width: 11px;
}

.order__image {
  margin-right: 13px;
  position: relative;
    top: 12px;
}

.order__header {
  margin-right: 26px;
  width: 220px;
}

.order__price-block {
  margin-right: 28px;
}

.basket-block__total-price {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  margin: 0 0 14px;
}

.order__price {
  color: #999999;
}

.basket-block__btn {
  border-radius: 25px;
  padding: 13px 15px;
}

.btn {
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  vertical-align: middle;
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px 0 #942718;
}

/*        INDEX          */

.page-content__header,
.slider {
  margin: 0 auto;
  padding: 0 27px;
  text-align: right;
  width: 1146px;
}

.page-content__header {
  margin-bottom: 13px;
}

.page-content__header p {
  margin: 0;
  margin-left: auto;
}

.slider {
  text-align: center;
}

.slider__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider img {
  margin: 0 auto;
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
  z-index: -1;
}

.slider h3 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin: 0 auto 32px;
  padding-top: 261px;
  text-align: center;
  width: 670px;
}

.ice-cream__btn {
  border-radius: 50px;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 40px;
  padding: 8px 42px 12px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.controls-wrapper {
  position: relative;
}

.slider__controls {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
    bottom: 64px;
}

.slider__btn {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 21px;
  margin-right: 8px;
  padding: 0;
  width: 21px;
}

.slider__btn:hover,
.slider__btn:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider__btn:active {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.slider__btn.active {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.banners {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 28px;
}

.banners__wrapper {
  display: flex;
    justify-content: space-between;
  margin: 0 auto;
  padding: 0 27px;
  width: 1146px;
}

.banners__item {
  display: flex;
    flex-direction: column;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 16px 19px 23px;
  width: 560px;
}

.banners__item h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0 0 15px;
}

.banners p {
  margin: 0 0 45px;
}

.banner--raspberries {
  background: #2c0103 url("../img/raspberry-back.jpg") repeat;
}

.banner--chocolate {
  background: #4e3b36 url("../img/chocolate-back.jpg") repeat;
}

.banner__btn {
  align-self: flex-end;
  border-radius: 30px;
  margin-left: auto;
  padding: 9px 24px 12px 22px;
}


.hits__list,
.catalog__list {
  display: flex;
    flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 1174px;
}

.catalog-card {
  border-radius: 5px;
    align-items: center;
  padding-top: 6px;
  position: relative;
  text-align: center;
  width: 293px;
}

.catalog-card:nth-child(4n) {
  margin-right: 0;
}

.catalog-card__inner {
  position: relative;
  display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: -53px;
  padding: 6px 12px 22px;
  border-radius: 10px;
}

.catalog-card__header {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0 6px 15px;
  text-align: center;
}

.catalog-card__header a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: inherit;
  text-decoration: none;
}

.catalog-card__header:hover a,
.catalog-card__header:focus a,
.catalog-card__header:active a {
  border-bottom: 1px solid #ffbc9e;
  color: #ffbc9e;
}

.catalog-card__image {
  border-radius: 50%;
  height: 267px;
  margin-bottom: 13px;
  order: -1;
  overflow: hidden;
  width: 267px;
}

.catalog-card img {
  display: block;
  height: auto;
  width: 100%;
}

.catalog-card__price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  margin: 0;
  position: absolute;
    left: 13px;
    top: 215px;
}

.catalog-card__weight {
  font-size: 32px;
}

.catalog-card__btn {
  border-radius: 30px;
  /*margin-top: auto;*/
  margin: auto;
  padding: 9px 16px;
  opacity: 0;
}

.catalog-card__label {
  background: #ffffff url("../img/hit.svg") no-repeat;
  border-radius: 50%;
  font-size: 0;
  height: 61px;
  margin: 0;
  position: absolute;
  left: 14px;
  top: 7px;
  width: 61px;
}

.catalog-card:hover .catalog-card__inner {
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.catalog-card:hover .catalog-card__btn {
  opacity: 1;
}

.promotion-products {
  color: #323232;
  margin: 12px 0 40px 0;
}

.promotion-products__wrapper {
  background: #ede2c7 url("../img/wafer-back.jpg") repeat;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px 0 15px 20px;
  width: 1146px;
}

.promotion-products h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 9px;
}

.promotion-products__list {
  display: flex;
    flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.features__item {
  box-sizing: border-box;
  flex-basis: 50%;
  margin-bottom: 9px;
  max-width: 50%;
  padding: 13px 21px 0 56px;
  position: relative;
}

.features__item:nth-child(2n) {
  padding-left: 60px;
}

.features__item::before {
  content: "";
  height: 49px;
  position: absolute;
    left: 0;
    top: 0;
  width: 49px;
}

.features__item--ice-cream::before {
  background: url("../img/ice-cream.svg") no-repeat;
}

.features__item--cow::before {
  background: url("../img/cow.svg") no-repeat;
}

.features__item--leaf::before {
  background: url("../img/leaf.svg") no-repeat;
}

.features__item--thermometer:before {
  background: url("../img/thermometer.svg") no-repeat;
}

.news {
  margin-bottom: 39px;
}

.news__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1146px;
}

.news__item {
  border-radius: 15px;
  box-sizing: border-box;
  width: 560px;
}

.article-preview {
  background: #ffffff url("../img/strawberry-back.jpg") no-repeat;
  color: #323232;
  padding: 23px 20px 20px;
}

.article-preview h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0 0 4px;
}

.article-preview__link {
  color: #323232;
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  width: 281px;
}

.article-preview__link:hover,
.article-preview__link:focus,
.article-preview__link:active {
  color: #e84d37;
}

.subscribe-form {
  background: #f8f7f4 url("../img/mail-back.svg") no-repeat;
  padding: 6px;
}

.subscribe-form__wrapper {
  background-color: #f8f7f4;
  border-radius: 15px;
  padding: 29px 21px 34px;
}

.subscribe-form__description {
  color: #5a5a5a;
  margin: 0 0 35px;
}

.subscribe-form form {
  display: flex;
}

.subscribe-form__field {
  margin: 0;
}

.subscribe-form__field input {
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  box-sizing: border-box;
  font: inherit;
  font-weight: 700;
  height: 44px;
  padding-left: 12px;
  width: 368px;
}

.subscribe-form__field input:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 0 2px #d3d3d2;
}

.subscribe-form__field input:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 0 2px #8fbdec;
}

.subscribe-form__btn {
  border-radius: 25px;
  color: #fefefe;
  margin-left: auto;
  padding-left: 17px;
  padding-right: 17px;
}

.map {
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
  padding-left: 0;
  position: relative;
  width: 100%;
}

.map iframe {
  border: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.map__wrapper {
  background: #f7f1d9 url("../img/map.jpg") no-repeat;
  margin: 0 auto;
  min-height: 430px;
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
  width: 1200px;
}

.map__address {
  box-sizing: border-box;
  display: flex;
    flex-direction: column;
  padding: 29px 25px 29px 25px;
  position: absolute;
    right: 27px;
    top: 63px;
  width: 302px;
  z-index: 1;
}

.feedback {
  background-color: #ffffff;
}

.feedback__header {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.feedback__address {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 19px;
  width: 230px;
}

.feedback__order-phone {
  margin: 0 0 4px;
}

.feedback__phone {
  margin: 0 0 25px;
}

.feedback__phone a {
  color: #323232;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.feedback__link {
  border-radius: 25px;
  text-align: center;
  padding: 10px 5px;
}

.modal {
  background-color: #f8f7f4;
}

.modal-feedback {
  border-radius: 10px;
  padding: 16px 25px 26px 23px;
  position: absolute;
  text-align: right;
  width: 430px;
  z-index: 2;
}

.modal-feedback fieldset {
  border: 0;
  padding: 0;
}

.modal-feedback input::placeholder,
.modal-feedback textarea::placeholder {
  font-size: 16px;
}

.modal-feedback input:-ms-input-placeholder,
.modal-feedback textarea:-ms-input-placeholder,
.modal-feedback input::-ms-input-placeholder,
.modal-feedback textarea::-ms-input-placeholder {
  font-size: 16px;
}

.modal-feedback__legend {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: left;
}

.modal-feedback__main-info {
  width: 267px;
}

.modal-feedback__main-info input {
  box-sizing: border-box;
  height: 43px;
  width: 100%;
}

.modal-feedback__main-info p {
  margin: 0;
  margin-bottom: 21px;
}

.modal-feedback__text {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
}

.modal-feedback input,
.modal-feedback textarea {
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  color: #323232;
  font: inherit;
  font-weight: 700;
  line-height: 24px;
  padding: 0 13px;
}

.modal-feedback textarea {
  padding: 9px 14px;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 0 2px #d3d3d2;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 0 2px #8fbdec;
}

.modal-feedback textarea {
  box-sizing: border-box;
  min-height: 155px;
  width: 100%;
}

.modal__btn {
  background: url("../img/button-remove-big.svg") no-repeat;
  font-size: 0;
  border: 0;
  height: 17px;
  padding: 0;
  position: absolute;
    right: 15px;
    top: 15px;
  width: 17px;
}

.modal-feedback__btn {
  border-radius: 40px;
  color: #fefefe;
  padding: 10px 22px;
}

/*       CATALOG      */

.page-content__header {
  display: flex;
    align-items: flex-end;
}

.page-catalog .page-content__header {
  margin-bottom: 2px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  margin-right: 21px;
}

.breadcrumbs a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus,
.breadcrumbs a[href]:active {
  color: #ffbc9e;
}

.contacts {
  font-weight: 700;
  margin-left: auto;
}

.contacts span {
  font-size: 14px;
  line-height: 16px;
}

.contacts a {
  color: #ffffff;
  display: block;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

.contacts a:hover {
  color: #ffbc9e;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  margin: 0 auto 18px;
  padding: 0 27px;
  width: 1146px;
}

.filters {
  font-weight: 500;
  margin: 0 auto 28px;
  padding: 0 27px;
  width: 1146px;
}

.filters form {
  display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-items: flex-end;
  width: 880px;
}

.catalog-filter {
  border: 0;
  margin: 0 15px 8px 0;
  padding: 0;
}

.catalog-filter--filler {
  margin-bottom: 0;
}

.catalog-filter__wrapper,
.catalog-filter__list {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  height: 37px;
}

.catalog-filter__wrapper--select {
  position: relative;
}

.catalog-filter__wrapper--select::after {
  border-color: #ffffff transparent transparent transparent;
  border-style: solid;
  border-width: 11px 5.5px 0 5.5px;
  content: "";
  position: absolute;
    right: 14px;
    top: 13px;
  height: 0;
  width: 0;
}

.catalog-filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: inherit;
  color: #ffffff;
  height: inherit;
  font-weight: 500;
  padding-left: 14px;
  padding-right: 34px;
}

.catalog-filter select:hover,
.checkbox-filter select:focus {
  color: #323232;
}

.catalog-filter__wrapper--select:hover::after {
  border-color: #323232 transparent transparent transparent;
  border-style: solid;
  border-width: 11px 5.5px 0 5.5px;
  content: "";
  position: absolute;
  right: 14px;
  top: 13px;
  height: 0;
  width: 0;
}


.catalog-filter option {
  background-color: transparent;
}

.catalog-filter select::-ms-expand {
  display: none;
}

.catalog-filter__legend {
  align-self: flex-start;
  font-size: 14px;
  line-height: 16px;
  padding: 7px 0 5px 16px;
}

.catalog-filter__wrapper--select {
  margin-top: 3px;
}

.range {
  font-size: 0;
  position: relative;
  width: 218px;
}

.price input {
  width: 24px;
}

.range::before {
  background-color: rgba(255, 255, 255, 0.5);
  content: "";
  height: 4px;
  position: absolute;
    left: 22px;
    top: 16px;
  width: 176px;
}

.range__line {
  background-color: #ffffff;
  height: 4px;
  position: absolute;
    left: 20%;
    top: 16px;
  width: 45%;
}

.range__btn {
  background-color: #ffffff;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: absolute;
    top: 8px;
  width: 20px;
}

.range__btn::before {
  background-color: #ababab;
  border-radius: 50%;
  content: "";
  position: absolute;
    left: 8px;
    top: 8px;
  height: 4px;
  width: 4px;
}

.range__btn--left {
  left: 35px;
}

.range__btn--right {
  right: 65px;
}

.radio-filter,
.checkbox-filter {
  display: flex;
    align-items: center;
}

.radio-filter__item,
.checkbox-filter__item {
  padding-left: 47px;
  position: relative;
}

.radio-filter {
  width: 415px;
}

.radio-filter__item {
  padding-right: 3px;
}

.radio-filter label::before {
  border: 3px solid #ffffff;
  border-radius: 50%;
  content: "";
  height: 16px;
  opacity: 0.8;
  position: absolute;
  left: 15px;
  top: -1px;
  width: 16px;
}

.radio-filter__input:checked ~ .radio-filter__label::before {
  border: 3px solid #ffffff;
  border-radius: 50%;
  content: "";
  height: 16px;
  opacity: 0.8;
  position: absolute;
  left: 15px;
  top: -1px;
  width: 16px;
}

.radio-filter__input:checked ~ .radio-filter__label::after {
  background-color: #ffffff;
  border-radius: 50%;
  content: "";
  height: 8px;
  opacity: 0.8;
  position: absolute;
  top: 6px;
  left: 22px;
  width: 8px;
}

.radio-filter label:hover::before {
  border: 3px solid #ffffff;
  border-radius: 50%;
  content: "";
  height: 16px;
  opacity: 1;
  position: absolute;
  left: 15px;
  top: -1px;
  width: 16px;
}

.radio-filter__input:checked ~ .radio-filter__label:hover::before {
  border: 3px solid #ffffff;
  border-radius: 50%;
  content: "";
  height: 16px;
  opacity: 1;
  position: absolute;
  left: 15px;
  top: -1px;
  width: 16px;
}

.radio-filter__input:checked ~ .radio-filter__label:hover::after {
  background-color: #ffffff;
  border-radius: 50%;
  content: "";
  height: 8px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 22px;
  width: 8px;
}

.radio-filter__input:disabled + label::before {
  border-color: #ffffff;
  opacity: 0.4;
}

.radio-filter__input:checked:disabled + label::before {
  border-color: #ffffff;
  opacity: 0.4;
}

.radio-filter__input:checked:disabled + label::after {
  background-color: #ffffff;
  opacity: 0.4;
}

.radio-filter__input:checked:hover:disabled + label::before {
  border-color: #ffffff;
  opacity: 0.4;
}

.radio-filter__input:checked:hover:disabled + label::after {
  background-color: #ffffff;
  opacity: 0.4;
}

.checkbox-filter__item {
  padding-right: 7px;
}

.checkbox-filter__label::before {
  background: url("../img/checkbox-off.svg") no-repeat;
  background-size: contain;
  content: "";
  height: 21px;
  position: absolute;
    left: 15px;
    top: 0;
  width: 22px;
}

.checkbox-filter__input:checked ~ .checkbox-filter__label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
  background-size: contain;
  border: 0;
  content: "";
  height: 22px;
  position: absolute;
    left: 15px;
    top: 0;
  width: 25px;
}

.checkbox-filter {
  width: 702px;
}

.catalog {
  margin-bottom: 55px;
}

.catalog-filter__legend {
  line-height: 16px;
  margin: 0;
}

.price input {
  background-color: transparent;
  border: 0;
}

.filters input,
.filters button {
  color: #ffffff;
  font: inherit;
}

.radio-filter,
.checkbox-filter {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filters__btn {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 5px 27px;
}

.filters__btn:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #323232;
  font-weight: 500;
}

.filters__btn:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.pagination {
  color: rgba(255, 255, 255, 0.2);
  display: flex;
    justify-content: flex-end;
  list-style-type: none;
  margin: 0 auto 30px;
  padding: 0 27px;
  width: 1146px;
}

.pagination li {
  margin-left: 4px;
}

.pagination .pagination__item--next {
  margin-left: 0;
}

.pagination__item--previous svg {
  transform: rotate(180deg);
}

.pagination__item--previous path {
  fill: rgba(255, 255, 255, 0.2);
}

.pagination a {
  border-radius: 50%;
  display: block;
  height: 25px;
  line-height: 27px;
  text-align: center;
  width: 25px;
}

.pagination__item--previous a {
  text-align: left;
}

.pagination__item--next a {
  text-align: right;
}

.pagination__item--next path {
  fill: #ffffff;
}

.pagination__item a[href] {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.pagination__item a[href]:hover,
.pagination__item a[href]:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination__item a[href]:active {
  background-color: #ffffff;
  color: #323232;
}

.pagination__item--current a {
  background-color: #ffffff;
  color: #323232;
}

.pagination__item.pagination__item--next a:hover,
.pagination__item.pagination__item--next a:active {
  background-color: transparent;
}

/*       FOOTER       */

.main-footer {
  padding-bottom: 26px;
}

.main-footer--catalog .main-footer__wrapper {
  border-top: 1px solid #ffffff;
  padding-top: 17px;
}

.main-footer__wrapper {
  display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  margin: 0 auto;
  padding-top: 12px;
  width: 1146px;
}

.main-footer__item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social {
  margin-right: 214px;
  width: 185px;
}

.footer-social__list {
  display: flex;
}

.footer-social__list li {
  margin-right: 11px;
}

.footer-social__list svg {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.footer-social__list path {
  fill: #ffffff;
  opacity: 0.8;
}

.footer-social__btn svg:hover,
.footer-social__btn svg:focus,
.footer-social__btn svg:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.footer-social__btn svg:hover path,
.footer-social__btn svg:focus path,
.footer-social__btn svg:active path {
  fill: #ffffff;
}

.footer-social__list a {
  color: #ffffff;
  text-decoration: none;
}

.footer-info {
  margin-top: 16px;
  align-self: flex-start;
  position: relative;
  width: 380px;
}

.footer-info__list {
  display: flex;
  flex-wrap: wrap;
}

.footer-info__list li:nth-child(2n+1) {
  width: 143px;
}

.footer-info__list a {
  color: #ffffff;
  display: block;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 3px;
  padding-left: 23px;
}

.footer-info__heart::before {
  background: url("../img/heart.svg");
  content: "";
  height: 13px;
  position: absolute;
    left: 1px;
    top: 3px;
  width: 15px;
}

.footer-info__list a:hover,
.footer-info__list a:focus,
.footer-info__list a:active,
.footer-copyright__html-academy:hover,
.footer-copyright__html-academy:focus,
.footer-copyright__html-academy:active {
  color: #ffbc9e;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  margin-left: auto;
}

.footer-copyright img {
  padding-left: 2px;
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright a {
  color: #ffffff;
}
